@import 'libs/bootstrap-reboot.min';
@import 'libs/animate';
@import 'libs/font';
@import 'libs/slick';
@import 'base/variables';
@import 'base/animation';

* {
   font-family: 'Myseo Sans Cyrl', sans-serif;
}
html {
   scroll-behavior: smooth;
}
.container {
   max-width: 98%;
   margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefit';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'base/media';